.navbar{
  display: flex;
  align-items: center;
  margin: 0 10px;
  justify-content: space-around;
}
*{
  font-family: 'Manrope', sans-serif;
}
.navbar-logo img{
  max-width: 300px;
  height: 172px;
}
.navbar-logo{
  margin-left: -10px;
}
.navbar-menu{
  display: flex;
  justify-content: space-around;
  margin: 30px;
  text-transform: uppercase;
}
.navbar-menu a{
  color:#000
}
.navbar-menu a:hover{
  color: #E70C2F;
  transition: all 0.4s;
}
.hvr{
  position: relative;
	color: #E70C2F; /*задаём цвет ссылки*/
	cursor: pointer;
	line-height: 1; /*задаём высоту строки*/
	text-decoration: none; /*убираем подчёркивание*/
}
.hvr:after {
  display: block;
	position: absolute;
	left: 100; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 0;/*задаём длинну линии до наведения курсора*/
	height: 2px; /*задаём ширину линии*/
	background-color: #E70C2F; /*задаём цвет линии*/
	content: "";
	transition: width 0.3s ease-out; /*задаём время анимации*/
}
.hvr:hover:after,
.hvr:focus:after{
  width: 100%;
}
.submenu{
  margin: 20px;
  font-size: 19px;
  font-weight: 400;
}
.navbar-list{
  margin-bottom: 20px;
}

.navbar-search__input{
  width: 170px;
  padding: 15px;
  font-size: 18px;
  border: none;
}
input:focus{
  border:100px;
}
.login{
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: 19px;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s;
}
.signin{
  margin-left: 54px;
  margin-bottom: 20px;
  font-size: 19px;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s;
  }
.login:hover, .signin:hover{
  color:#E70C2F;
}

