*{
  font-family: 'Manrope', sans-serif;
  margin: 0;
  padding: 0;
}
input {outline:2px solid black;}

.main img{
  width: 300px;
  height: 400px;
}
.main{
  margin-top: 50px;
}
.main-list{
  padding: 50px 20px 50px 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.main-header{
  color: #fff;
  display: flex;
  justify-content: center;
  border-bottom: 5px solid #E70C2F;
}
.main-header__item{
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 180px;
  height: 70px;
  font-weight: 600;
  background: #000;
  cursor: pointer;
  /* margin: 0 10px 0; */
  transition: all 0.2s;
}
.main-header__item:hover{
  background: #E70C2F;
}
.main-item{
  text-align: center;
  margin:30px 0;
  width: 26%;
  transition: all 0.2s;
}
.main-item__photo img{
  max-width: 90%;
}
.main-item__title{
  text-align: center;
  font-size: 22px;
  color:#000;
  margin-top: 15px;
}

.main-bg{
  background: #fff;
  /* box-shadow:0 0 50px #E70C2F; */
}
.main-section__title{
  font-size: 40px;
  text-align: center;
  padding-top: 70px;
}
.controls {
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 50px;
  max-width: 1240px;
}